body {
  font-size: 16px;
  font-family: "Hind Madurai", sans-serif;
  color: var(--theme-secondayColor);
  font-weight: normal;
  background-color: #f8f5f2;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bebas Neue" !important;
    font-weight: 300 !important;
  }

  h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: 0.5px;
  }

  h6 {
    font-size: 1.3em;
    font-weight: 600;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--theme-primaryColor);
    
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  .site-btn {
    background: var(--theme-secondayColor);
    color: white;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 3px;
    transition: all 0.25s ease-in-out;
    padding: 12px 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 10px;
    text-transform: uppercase;

    &:hover {
      background-color: var(--theme-secondayColor);
      box-shadow:
        rgb(60 64 67 / 30%) 0px 1px 2px 0px,
        rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    }
  }
  footer {
    position: fixed;
    background-color: #fff;
    z-index: 9;
    bottom: 0;
    width: 100%;

    a {
      color: var(--theme-primaryColor);

      &:hover {
        text-decoration: underline;
      }
    }
  }

}